.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    gap: 5px;

}


.title {
    align-self: flex-start;
}
.confession {
    display: flex;
    flex-direction: column;

    align-self: center;
    
    align-content: center;
    justify-content: center;

    height: 30vh;
    width: 30vw;
    
}
textarea {
    width: 100%;
    height: 100%;

    text-align:left;
    font-size: 18px;

    resize: none;
}
  